.PostingPaper{
  padding: 1rem;
  margin: 1rem;
}

.PostingForm{
  display: flex;
  flex-direction: column;
}

.card{
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  color: rgb(131, 55, 68);
}

body {
  background-image: url(./hello.jpg);
}